.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 18px;
    box-sizing: border-box;
    width: 100%;
    box-shadow: inset 0px -1px 0px rgba(32, 31, 30, 0.12);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #201F1E;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}